* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #e3e3e3;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

.caja {
    background-color: tomato;
    width: 100px;
    height: 100px;
}

.centro {
    align-self: center;
}

.abajo {
    align-self: flex-end;
}